.pfp {
    border-radius: 50%;
    width: 192px;
    height: 192px;
    margin: auto;
    display: block;
}

.pronouns {
    p {
        font-size: 20px;
        color: grey !important;
        line-height: 0px;
    }
}
.paragraph {
    p{font-size: 25px;}
}

.main {
    border-style: solid;
    border-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 1px;
    width: 400px;
    display: block;
    border-radius: 0px;
    p {
        color: white;
        font-size: 21px;
    }
    h1 {
        color: white;
    }
    a {
        color: white;
    }
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

.flash {
    opacity: 0;
    margin: 25px;
    animation-name: flash;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    19% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projects {
    line-height: 10px;
    a {
        font-size: 30px;
        line-height: 30px;
    }
    p {
        color: grey;
        font-size: 18px;
    }
    br {
        line-height: 200px;
    }
}

.NavButton {
    a {
        font-size: 45px;
        line-height: 80px;
    }
}

.Directory {
    a {
        line-height: 50px;
        font-size: 30px;
    }
}